<!-- Courses Section -->
<section id="courses" class="courses section">

    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="course-item">
            <a href="/web-design-course">
            <img src="assets/img/course-1.jpg" class="img-fluid" alt="..."></a>
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/web-design-course">
                <p class="category">Web Development</p></a>
                <a href="/web-design-course">
                <p class="price" style="color: hsla(0, 100%, 49%, 0.953);">Limited</p></a>
              </div>

              <h3><a href="/web-design-course">Web App Development</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/Appy-online">
                  <button class="product-btn">Apply Now</button>
              </a>
                <!-- <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-person user-icon"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bi bi-heart heart-icon"></i>&nbsp;65
                </div> -->
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="course-item">
            <a href="/hardware-networking-course">
            <img src="assets/img/course-2.jpg" class="img-fluid" alt="..."></a>
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/hardware-networking-course">
                <p class="category">Hardware & networking</p></a>
                <a href="/hardware-networking-course">
                <p class="price">Regular</p></a>
              </div>

              <h3><a href="/hardware-networking-course">Hardware & networking with Repairing</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/Appy-online">
                  <button class="product-btn">Apply Now</button>
              </a>
                <!-- <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-person user-icon"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bi bi-heart heart-icon"></i>&nbsp;65
                </div> -->
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="course-item">
            <a href="/ac-fridge-repearing">
            <img src="assets/img/course-3.jpg" class="img-fluid" alt="..."></a>
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/ac-fridge-repearing">
                <p class="category">Technician & Repairing</p></a>
                <a href="/ac-fridge-repearing">
                <p class="price" style="color: hsla(0, 100%, 49%, 0.953);">Limited</p></a>
              </div>

              <h3><a href="/ac-fridge-repearing">Fridge, AC & Washing Machine Repairing</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/Appy-online">
                  <button class="product-btn">Apply Now</button>
              </a>
                <!-- <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-person user-icon"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bi bi-heart heart-icon"></i>&nbsp;65
                </div> -->
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        
      </div>

    </div>

  </section><!-- /Courses Section -->


  <!--second row start-->
  <section id="courses" class="courses section">

    <div class="container">

      <div class="row">
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
    <div class="course-item">
      <a href="/mobile-repearing">
      <img src="assets/img/course-4.jpg" class="img-fluid" alt="..."></a>
      <div class="course-content">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <a href="/mobile-repearing">
          <p class="category">Mobile Repearing</p></a>
          <a href="/mobile-repearing">
          <p class="price">Regular</p></a>
        </div>

        <h3><a href="/mobile-repearing">Mobile Repairing Hardware & Software</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/Appy-online">
                  <button class="product-btn">Apply Now</button>
              </a>
                <!-- <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-person user-icon"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bi bi-heart heart-icon"></i>&nbsp;65
                </div> -->
              </div>
            </div>
          </div>
  </div> <!-- End Course Item-->

  
<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
    <div class="course-item">
      <a href="/tv-computer-repearing">
      <img src="assets/img/course-5.jpg" class="img-fluid" alt="..."></a>
      <div class="course-content">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <a href="/tv-computer-repearing">
          <p class="category">Technician & Repairing</p></a>
          <a href="/tv-computer-repearing">
          <p class="price" style="color: hsla(0, 100%, 49%, 0.953);">Limited</p></a>
        </div>

        <h3><a href="/tv-computer-repearing">Computer & TV Repairing</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/Appy-online">
                  <button class="product-btn">Apply Now</button>
              </a>
                <!-- <div class="trainer-rank d-flex align-items-center">
                 <i class="bi bi-person user-icon"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bi bi-heart heart-icon"></i>&nbsp;65
                </div> -->
              </div>
            </div>
          </div>
  </div> <!-- End Course Item-->

  
<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
  <div class="course-item">
    <a href="/computer_training">
    <img src="assets/img/course-6.jpg" class="img-fluid" alt="..."></a>
    <div class="course-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="/computer_training">
        <p class="category">Basic Computer Traing</p></a>
        <a href="/computer_training">
        <p class="price">Regular</p></a>
      </div>

      <h3><a href="/computer_training">Basic computer skills courses</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/Appy-online">
                  <button class="product-btn">Apply Now</button>
              </a>
                <!-- <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-person user-icon"></i>&nbsp;50
                  &nbsp;&nbsp;
                  <i class="bi bi-heart heart-icon"></i>&nbsp;65
                </div> -->
              </div>
            </div>
          </div>
</div> <!-- End Course Item-->

</div>

    </div>

  </section>
