<section id="courses-course-details" class="courses-course-details section">

    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-8">
          <img src="../../../assets/img/Course_details/web_app_main.jpg" alt="image" class="img-fluid">
          <h3>Web App Development</h3>
          <p>
            "Web app development is the process of transforming innovative ideas into functional and engaging digital solutions. 
            By combining cutting-edge technologies, intuitive design, and seamless performance, we create web applications that empower businesses and enhance user experiences. 
            Whether it's crafting dynamic interfaces or ensuring robust backend functionality, our development approach focuses on scalability, security, and accessibility. 
            With a commitment to excellence, we turn visions into impactful web applications that drive growth and connect with users worldwide."
          </p>
        </div>
        <div class="col-lg-4">
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Duration</h5>
            <p>12 Months</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Pre-requistite</h5>
            <p>Basic Knowledge</p>
          </div>

          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Type</h5>
            <p>Limited</p>
          </div>

        </div>
      </div>

    </div>

  </section><!-- /Courses Course Details Section -->

  <!-- Tabs Section -->
  <section id="tabs" class="tabs section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">User Interface Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">User Interface Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">MEAN Stack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">MERN Stack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Mobile Application Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Advanced Digital Marketing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Tech Support</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>User Interface Development</h3>
                  <p>HTML,CSS</p>
                  <p>JavaScript</p>
                  <p>Advance Javascript</p>
                  <p>Photoshop</p>
                  <p>Json,Jquery</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/User Interface Development (2).jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>User Interface Design</h3>
                  <p>HTML,CSS</p>
                  <p>JavaScript</p>
                  <p>Advance Javascript</p>
                  <p>Photoshop</p>
                  <p>Json,Jquery</p>
                  <p>Canva,Figma</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/User Interface Design.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>MEAN Stack</h3>
                  <p>MongoDB</p>
                  <p>Express JS</p>
                  <p>Angular</p>
                  <p>Node Js</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/MEAN.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>MERN Stack</h3>
                  <p>MongoDB</p>
                  <p>Express JS</p>
                  <p>React Js</p>
                  <p>Node Js</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/Mern.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Mobile Application Development</h3>
                  <p>React Native</p>
                  <p>Flutter</p>
                  <p>Android Studio</p>
                  <p>UI Development-SQL</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/mobile application.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-6">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Advanced Digital Marketing</h3>
                  <div class="two-column">
                    <p>Fundamentals Of Marketing</p>
                    <p>Digital Marketing Introduction</p>
                    <p>Content Marketing Foundation</p>
                    <p>Digital Analytics</p>
                    <p>Google Analytics</p>
                    <p>PPC Google Ads</p>
                    <p>Programmatic Buying</p>
                    <p>SEO Foundation</p>
                    <p>Social Media Strategy And Planning</p>
                    <p>An Introduction To Social Media Tools</p>
                    <p>Measurement And Reporting</p>
                    <p>Social Advertising</p>
                    <p>Demystifying Digital Channels</p>
                    <p>Conversion Strategy</p>
                    <p>Conversion Rate Optimization For Websites</p>
                    <p>Hubspot Email Marketing Certification Training</p>
                    <p>Advanced Search Engine Optimization</p>
                    <p>Principles Of Persuasion</p>
                    <p>Landing Page Anatomy</p>
                    <p>Marketing Automation</p>
                    <p>Digital Marketing Strategy</p>
                    <p>Hootsuite Platform Training</p>
                    <p>Advanced Web Analytics</p>
                    <p>Traits Of Success</p>
                    
                </div>

                  
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/Digital Marketing.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-7">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Tech Support</h3>
                  <P>Basic Excel</P>
                  <P>Advance Excel</P>
                  <P>SQL</P>
                  <P>Advance SQL</P>                  
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Web design/tech2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /Tabs Section -->