<section id="courses-course-details" class="courses-course-details section">

  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-8">
        <img src="../../../assets/img/Course_details/hardware.jpg" alt="image" class="img-fluid">
        <h3>Computer Hardware & networking with Repairing</h3>
        <p>
          "Computer hardware and networking involve the physical components of a computer and the networks that connect them. 
          Repairing these areas includes diagnosing and fixing hardware issues like broken screens or faulty components, as well as maintaining network connections. "
        </p>
      </div>
      <div class="col-lg-4">
        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Course Duration</h5>
          <p>11 Months</p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Pre-requistite</h5>
          <p>Basic Knowledge</p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Course Type</h5>
          <p>Regular</p>
        </div>

      </div>
    </div>

  </div>

</section><!-- /Courses Course Details Section -->

<!-- Tabs Section -->
<section id="tabs" class="tabs section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Monitor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">SMPS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">UPS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Mother Board</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Monitor</h3>
                <h5>CRT Monitor</h5>
                <p>Introduction of Monitor, Types of Monitor, 
                  Monitor CRT (i) Mono CRT (ii) Colour CRT, CRT Working, 
                  Deflection Coil, Degauss Coil, Rotation Coil, 
                  Signal Cable Connector Description, Color Monitor, block Diagram </p>
                  <p>Identification & working of Monitor section, SM Power Supply, 
                    Video Amp Stage, Video Driver & Output Stage,OSD Stage, 
                    System & System driver stage, Horz Osc State, 
                    Horz Driver & Output  Stage, EHT Stage, Vertical  Osc Stage, 
                    Vertical Driver Output Stage.</p>
                <h5>LCD/TFT Monitor</h5>
                <p>Introduction of LCD, Working of LCD/TFT, 
                  Manufacturing of LCD/TFT, Different Between CRT & LCD/TFT VGA & DVI Cable, 
                  Introduction of Different Stage</p>
                <p>Identification and Working of LCD/TFT Monitor Section (Power supply Stage, 
                  Inverter Stage, Block Diagram of Main Board, Block Diagram of TFT Panel, 
                  Main PCB, Monitor Control Stage, Memory Stage, Functional Keyboard, Scaler Stage)</p>

                <div>
                  <a href="/Appy-online">
                    <button class="product-btn" style="float: right;">Apply Now</button>
                </a>
                </div>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="../../../assets/img/Course_details/hardware/Monitor.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>SMPS</h3>
                <p>Introduction of Basic Component, Working principle of SMPS, Introduction of AT, ATX & BTX SMPS, 
                  Connector Details with Voltage and Color, Block Diagram of SMPS, AC/DC stage, PS Stage, Osc & Driver, 
                  Switching output, DC Output, +3.3 V Reg. & PG Stage</p>
              
                <div>
                  <a href="/Appy-online">
                    <button class="product-btn" style="float: right;">Apply Now</button>
                </a>
                </div>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="../../../assets/img/Course_details/hardware/SMPS.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Uninterruptible Power Supply</h3>
                <p>Introduction of basic electronics, Introduction of UPS, Relay switch, 
                  Transformer Working, Fundamental of UPS & UPS Block Diagram, AVR Stage , 
                  Voltage Regulator Stage, Charger Stage, Oscillator Stage, Switching Stage, 
                  AC low & Hgh Sensor stage, AC/DC Selector Stage, Battery Low Stage, 
                  battery deep discharge protection stage</p>
                <div>
                  <a href="/Appy-online">
                    <button class="product-btn" style="float: right;">Apply Now</button>
                </a>
                </div>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="../../../assets/img/Course_details/hardware/UPS.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Mother Board</h3>
                <div class="two-column">
<P>Basic Electronics</P>
<P>Schematic Diagram of Adaptor</P>
<P>Inverter Repairing</P>
<P>Block Diagram of Laptop Motherboard </P>
<P>Fault finding of PS2 Port</P>
<P>Fault Finding Of LPT Port</P>
<P>Block Diagram of  Adaptor</P>
<P>Battery repairing</P>
<P>Fault Finding of Com Port</P>
<P>Fault Finding of Ram Slot</P>
<P>Processor Heating</P>
<P>Hanging Problem</P>
<P>Signal Checking</P>
<P>Chip Level Motherboard Repairing</P>
<P>SMD Rework Station</P>
<P>Password Resetting</P>
<P>Schematic Diagram of Laptop Motherboard</P>
<P> Faulty fining of Adaptor</P>
<P>Fault Finding Of RJ 45 Port (LAN Port)</P>
<P>Fault Finding of IDE</P>
<P>Fault Finding of Mouse</P>
<P>Fault Finding Of Sound</P>
<P>Fault Finding of USB Port</P>
<P>Fault Finding of Keyboard</P>
<P>No Display</P>
<P>BGA Rework Station</P>
<P>Soldering & Dislodging</P>
<P>Bios Programming</P>
<P>Voltage Checking</P>
<P>Ram Heating</P>

</div>

                
                <div>
                  <a href="/Appy-online">
                    <button class="product-btn" style="float: right;">Apply Now</button>
                </a>
                </div>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="../../../assets/img/Course_details/hardware/Motherboard.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>

</section><!-- /Tabs Section -->