<section id="courses-course-details" class="courses-course-details section">

    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div class="col-lg-8">
          <img src="../../../assets/img/Course_details/Ac frodge washing mechine/main.jpg" alt="image" class="img-fluid">
          <h3>Technician of Fridge, AC & Washing Machine Repairing</h3>
          <p>
            "Familiarization of Safety Procedures dentify tools & equipments Care and Maintenance. 
            Importance of safety General precaution, General refrigeration & Air Conditioning
            Tools & Equipments used"
          </p>
        </div>
        <div class="col-lg-4">
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Duration</h5>
            <p>11 Months</p>
          </div>
  
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Pre-requistite</h5>
            <p>Basic Knowledge</p>
          </div>
  
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Type</h5>
            <p>Regular</p>
          </div>
  
        </div>
      </div>
  
    </div>
  
  </section><!-- /Courses Course Details Section -->
  
  <!-- Tabs Section -->
  <section id="tabs" class="tabs section">
  
    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Identify & Use of Measuring Instruments Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Test of open & Short Circuit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">General refrigeration & Air Conditioning
                Tools & Equipments used
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Refrigeration System</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Basic Electricity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Washing Machine</a>
              </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Identify & Use Of Tools</h3>
                  <h5>Identify Different Type Of Tools</h5>
                  <p>
                    <li>Compressor (open type, Semi sealed ,Sealed)</li>
                    <li>Condenser (air cooled/ Water cooled)</li>
                    <li>Evaporator</li>
                    <li>Expansion device</li>
                    <li>Use of thermometer Gauges( Compound & Pressure)</li>
                  </p>
                  <h5>Use Of Measuring Instruments</h5>
                  <p>
                    <li>Volt meter</li>
                    <li>Ammeter</li>
                    <li>Ohmmeter</li>
                    <li>Multi meter</li>
                    <li>Series and Parallel Connection</li>
                  </p>
  
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Ac frodge washing mechine/tools.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Test of open & Short Circuit</h3>
                  <p>Identify of various electric motors</p>
                  <p>Identify of various Condenser</p>
                  <p>Identify of various Compressor</p>
                
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Ac frodge washing mechine/short circuit.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>General refrigeration & Air Conditioning Tools & Equipments used</h3>
                  <p>Heat & Temperature</p>
                  <p>Pressure Unit of heat</p>
                  <p>temperature & Pressure</p>
                  <p>Use of pressure gauge</p>
                  <p>thermometer</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Ac frodge washing mechine/Refrigeration tools.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Refrigeration System</h3>
                  <p>Compressor</p>
                  <p>Condenser</p>
                  <p>Evaporator</p>
                  <p>Expansion Device</p>
                  <p>Different types of all components as stated above</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Ac frodge washing mechine/Refrigertion system.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Basic Electricity</h3>
                  <p>Current, Potential difference, Resistance & its unit</p>
                  <p>Series Circuit</p>
                  <p>Parallel Circuit</p>
                  <p>Use of Voltmeter, ammeter, Multi meter</p>
                  <p>Different types of Electric motor used</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Ac frodge washing mechine/Electric.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-6">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Washing Machine</h3>
                  <p>Different type of washing machines &working principle</p>
                  <p>Basic hand wash process, Different types of technologies being used in Washing machines Pulsator, Agitator, Agipellar, Tumble wash</p>
                  <p>Demonstration of various functionality of washing machine15/206.Fault identification, Repair and Maintenance of Washing machine</p>
                  <p>Testing & identification of the faulty block on the basis of symptom, rectifying common faults by replacing the damage components</p>
                  <p>Main parts of washing machines and their functionalities etc</p>
                  <p>Step by step re-assembly of the washing machine panel</p>
                  <p>Testing of the damage block after repair</p>
                  <p>Installation of washing machine</p>
                  
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Ac frodge washing mechine/washing mechine.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
  
  </section><!-- /Tabs Section -->