 <!-- Hero Section -->
 <section id="hero" class="hero section dark-background">

    <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

    <div class="container">
      <h2 data-aos="fade-up" data-aos-delay="100">Empowering the Next<br>Generation of Tech Professionals</h2>
      <p data-aos="fade-up" data-aos-delay="200">Better Performance, fast solutions</p>
      <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
        <a href="/courses" class="btn-get-started">Explore Courses</a><br>
        <a href="/Appy-online" class="btn-get-started-2">Start Your Application</a>
      </div>
    </div>

  </section><!-- /Hero Section -->


   <!-- About Section -->
   <section id="about" class="about section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Our purpose drives our innovation</h3>
          <p class="fst-italic">
            At TechnoLab Education Center, innovation isn’t just a goal—it’s the foundation of everything we do!
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>Future-Ready Education – Our curriculum is designed with innovation in mind, preparing students for emerging industries and equipping them with essential skills.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Empowering Learners Through Technology – We integrate cutting-edge tools and teaching methods to enhance the learning experience, ensuring students are always ahead of the curve.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Adaptive Learning Environment – We embrace new teaching strategies, evolving constantly to meet the unique needs of each student, making education more personalized and effective.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Continuous Growth & Innovation – Our educators and research teams are committed to discovering new ways to make learning more engaging, impactful, and accessible.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Bridging the Gap Between Education & Industry – We innovate by connecting students with real-world applications, ensuring practical learning that aligns with the latest industry demands.</span></li>
          </ul>
          <a href="/about" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

   <!-- Counts Section -->
   <section id="counts" class="section counts light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Counts Section -->

  <!-- Why Us Section -->
  <section id="why-us" class="section why-us">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose Our Products?</h3>
            <p>
              At TechnoLab, we go beyond just selling products—we create innovative solutions designed to enhance lives and empower businesses. Our commitment to quality, functionality, and cutting-edge technology ensures that every product aligns with our customers' needs and expectations.
            </p>
            <div class="text-center">
              <a href="/about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

            <div class="col-xl-4">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-data"></i>
                <h4>Corporis voluptates officia eiusmod</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Ullamco laboris ladore pan</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-inboxes"></i>
                <h4>Labore consequatur incidid dolore</h4>
                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>

  </section><!-- /Why Us Section -->

  <!-- Features Section -->
  <section id="features" class="features section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="features-item">
            <i class="bi bi-eye" style="color: #ffbb2c;"></i>
            <h3><a href="" class="stretched-link">Lorem Ipsum</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="features-item">
            <i class="bi bi-infinity" style="color: #5578ff;"></i>
            <h3><a href="" class="stretched-link">Dolor Sitema</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="features-item">
            <i class="bi bi-mortarboard" style="color: #e80368;"></i>
            <h3><a href="" class="stretched-link">Sed perspiciatis</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <div class="features-item">
            <i class="bi bi-nut" style="color: #e361ff;"></i>
            <h3><a href="" class="stretched-link">Magni Dolores</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
          <div class="features-item">
            <i class="bi bi-shuffle" style="color: #47aeff;"></i>
            <h3><a href="" class="stretched-link">Nemo Enim</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
          <div class="features-item">
            <i class="bi bi-star" style="color: #ffa76e;"></i>
            <h3><a href="" class="stretched-link">Eiusmod Tempor</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
          <div class="features-item">
            <i class="bi bi-x-diamond" style="color: #11dbcf;"></i>
            <h3><a href="" class="stretched-link">Midela Teren</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
          <div class="features-item">
            <i class="bi bi-camera-video" style="color: #4233ff;"></i>
            <h3><a href="" class="stretched-link">Pira Neve</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
          <div class="features-item">
            <i class="bi bi-command" style="color: #b2904f;"></i>
            <h3><a href="" class="stretched-link">Dirada Pack</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1000">
          <div class="features-item">
            <i class="bi bi-dribbble" style="color: #b20969;"></i>
            <h3><a href="" class="stretched-link">Moton Ideal</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1100">
          <div class="features-item">
            <i class="bi bi-activity" style="color: #ff5828;"></i>
            <h3><a href="" class="stretched-link">Verdo Park</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="1200">
          <div class="features-item">
            <i class="bi bi-brightness-high" style="color: #29cc61;"></i>
            <h3><a href="" class="stretched-link">Flavor Nivelanda</a></h3>
          </div>
        </div><!-- End Feature Item -->

      </div>

    </div>

  </section><!-- /Features Section -->

  <!-- Courses Section -->
  <section id="courses" class="courses section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Courses</h2>
      <p>Popular Courses</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="course-item">
            <a href="/web-design-course">
            <img src="assets/img/course-1.jpg" class="img-fluid" alt="..."></a>
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/web-design-course">
                <p class="category">Web Development</p></a>
                <a href="/web-design-course">
                <p class="price" style="color: hsla(0, 100%, 49%, 0.953);">Limited</p></a>
              </div>

              <h3><a href="/web-design-course">Web App Development</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/courses">
                  <button class="product-btn">Learn More</button>
              </a>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-share share-icon" (click)="shareWebsite()"></i>
                  &nbsp;&nbsp;
                  <!-- <i class="bi bi-heart heart-icon"></i>&nbsp;65 -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="course-item">
            <a href="/hardware-networking-course">
            <img src="assets/img/course-2.jpg" class="img-fluid" alt="..."></a>
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/hardware-networking-course">
                <p class="category">Hardware & networking</p></a>
                <a href="/hardware-networking-course">
                <p class="price">Regular</p></a>
              </div>

              <h3><a href="/hardware-networking-course">Hardware & networking with Repairing</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/courses">
                  <button class="product-btn">Learn More</button>
              </a>
                <div class="trainer-rank d-flex align-items-center">
                  <i class="bi bi-share share-icon" (click)="shareWebsite()"></i>
                  &nbsp;&nbsp;
                  <!-- <i class="bi bi-heart heart-icon"></i>&nbsp;65 -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="course-item">
            <a href="/ac-fridge-repearing">
            <img src="assets/img/course-3.jpg" class="img-fluid" alt="..."></a>
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/ac-fridge-repearing">
                <p class="category">Technician & Repairing</p></a>
                <a href="/ac-fridge-repearing">
                <p class="price" style="color: hsla(0, 100%, 49%, 0.953);">Limited</p></a>
              </div>

              <h3><a href="/ac-fridge-repearing">Fridge, AC & Washing Machine Repairing</a></h3>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <a href="/courses">
                  <button class="product-btn">Learn More</button>
              </a>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bi bi-share share-icon" (click)="shareWebsite()"></i>
                   &nbsp;&nbsp;
                <!-- <i class="bi bi-heart heart-icon" 
                [ngClass]="{'clicked': heartClicked}"
                (click)="increaseHeartCount()"></i>&nbsp;{{ heartCount }} -->
              </div>

              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

      </div>

    </div>

  </section><!-- /Courses Section -->

    <!-- Contact Start -->
  <section>
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Contact For Any Query</p>
  </div>
 
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Get In Touch</h5>
                <p class="mb-4">Industry mentors, real-world projects, freelancing guidance, career support</p>
                <div class="d-flex align-items-center mb-3">
                  <div class="d-flex align-items-center justify-content-center flex-shrink-0" style="width: 50px; height: 50px;">
                    <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="info-item d-flex">Office</h5>
                        <p class="mb-0">A-8/90, near Vidhyasagar Manch</p>
                        <p class="mb-0">Kalyani, West Bengal 741235</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0" style="width: 50px; height: 50px;">
                      <i class="bi bi-telephone-outbound-fill"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="info-item d-flex">Mobile</h5>
                        <p class="mb-0">+91 9748 9208 36</p>
                        <p class="mb-0">+91 8100 9174 43</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center flex-shrink-0" style="width: 50px; height: 50px;">
                    <i class="bi bi-envelope-at-fill"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="info-item d-flex">Email</h5>
                        <p class="mb-0">rathinkly&#64;gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <iframe class="position-relative rounded w-100 h-100"
                    src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.458220631472!2d88.45962807603536!3d22.97017171828022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89564caa7a33f%3A0x212bbd6b2b75b34f!2sTECHNO%20LAB%20KALYANI!5e0!3m2!1sen!2sin!4v1743220477207!5m2!1sen!2sin"
                    frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form (ngSubmit)="sendEmail()" #contactForm="ngForm" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" [(ngModel)]="emailData.name" name="name" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" [(ngModel)]="emailData.email" name="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" [(ngModel)]="emailData.subject" name="subject" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" [(ngModel)]="emailData.message" name="message" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="product-btn w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->