<section id="courses-course-details" class="courses-course-details section">

    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div class="col-lg-8">
          <img src="../../../assets/img/Course_details/Mobile Repearing/main.jpg" alt="image" class="img-fluid">
          <h3>Technician of Mobile Phone Repairing Hardware & Software</h3>
          <p>
            " A Mobile Phone Repair Technician diagnoses and fixes both hardware and software issues in mobile devices, 
            requiring attention to detail, patience, and logical thinking. They work with a variety of tools and equipment, 
            using their expertise to replace components, repair internal circuitry, and resolve software glitches. 
            This role offers a stable and lucrative career option, particularly in India, where mobile phone repair skills are in high demand "
          </p>
        </div>
        <div class="col-lg-4">
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Duration</h5>
            <p>7 Months</p>
          </div>
  
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Pre-requistite</h5>
            <p>Basic Knowledge</p>
          </div>
  
          <div class="course-info d-flex justify-content-between align-items-center">
            <h5>Course Type</h5>
            <p>Regular</p>
          </div>
  
        </div>
      </div>
  
    </div>
  
  </section><!-- /Courses Course Details Section -->
  
  <!-- Tabs Section -->
  <section id="tabs" class="tabs section">
  
    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Chip Level basic Electronics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Basic Mobile Phone Technology & Coding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Chip Level Practical Training</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Software Training Module</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Tracing (Fault Finding)</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Chip Level basic Electronics</h3>
                  <p>Introduction of Basic Electronics</p>
                  <p>Mobile Components Identification & knowledge</p>
                  <p>Practical Testing of Components by Multimeter</p>
                  <p>Mobile Components Testing & Checking</p>
                  <p>Mobile Phone components working</p>
                  <p>Uses of Multimeter</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Mobile Repearing/Tab-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Basic Mobile Phone Technology & Coding</h3>
                  <p>Introduction of Mobile Phone Technology</p>
                  <p>Type of Mobile Phone Technology</p>
                  <p>Working principal of Mobile Phone</p>
                  <p>Feature of Mobile Phone(Bluetooth,G.P.R.S.,Infrared etc.)</p>
                  <p>Multimedia Set formatting Codes(For virus removing problems)</p>
                  <p>Removing Software Problem by Codes</p>
                  <p>Unlocking codes for G.S.M.Mobile</p>
                  <p>Unlocking codes for C.D.M.A. Mobile</p>
                  <p>Chinese Mobile Phone Codes</p>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Mobile Repearing/Tab-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Chip Level Practical Training</h3>
                  <div class="two-column">
                    <P>Proper use of Micro Iron ,SMD Rework Machine,Hpt Airgun,Etc</P>
                    <P>Jack Changing Practice (Sim Jack,Charging Jack,Hand free Jack,Battery Connector)</P>
                    <P>Jumper Practice.(Antina Switch Jumper,Track Breakage Jumper,Display Cont.Jumper etc.)</P>
                    <P>Driver IC Jumper Practice (SIM IC Jumper,Keypad I.C.Jumper,Display I.C.Jumper etc.)</P>
                    <P>Chip Component Removing & Replacing</P>
                    <P>B.G.A. I.C Removing Practice</P>
                    <P>B.G.A. I.C Reballing Practice</P>
                    <P>B.G.A. I.C Replacing Practice</P>
                    <P>Display Changing Practice (Patta Displays)</P>
                    <P>Driver I.C. Changing practice</P>
                    <P>Ribben & Patta changing Practice</P>
                    <P>P.F.O. Changing</P>
                    <P>Pasted B.G.A.IC Removing Practice</P>
                    <P>Soldering & Desoldering Practice</P>
                    <P>Bluetooth Module Changing Practice</P>
                    <P>Flap & Sliding Phone assembling Practice</P>
                  </div>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Mobile Repearing/Tab-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Software Training Module</h3>
                  <div class="two-column">
                    <P>U.f.s Repairing Box Training.</P>
                    <P>Micro Box Training ( For Latest Multimedia Sets)</P>
                    <P>Infinity Box Training (for Motorola ,L.G.,Chinese & 150 Other Phones)</P>
                    <P>Application Software Training</P>
                    <P>S.E.Tool Box Training.( For Sony Ericsson Sets)</P>
                    <P>Universal Box Training ( Spl.for I.M.E.I Repairing)</P>
                    <P>Spider Box Training (For Chinese Phones)</P>
                    <P>Ve-pro Box Training (For Chinese Phones)</P>
                  </div>
                  <div>
                    <a href="/Appy-online">
                      <button class="product-btn" style="float: right;">Apply Now</button>
                  </a>
                  </div>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="../../../assets/img/Course_details/Mobile Repearing/Tab-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Tracing (Fault Finding)</h3>
                    <div class="two-column">
                        <P>Mobile Phone Physically Testing</P>
                        <P>Fault Find Out in Mobile Phone</P>
                        <P>Track Checking comparision by other phone</P>    
                        <P>Track Checking on Mobile Board (Practically checking by multimeter)</P>
                        <P>Track Checking with the components</P>
                        <P>Track Reading in circuit Diagram Books</P>
                        <P>Cool testing Of Mobile Phone</P>
                        <P>Hot testing in Mobile Phone</P>
                        
                    </div>
                    <div>
                      <a href="/Appy-online">
                        <button class="product-btn" style="float: right;">Apply Now</button>
                    </a>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="../../../assets/img/Course_details/Mobile Repearing/Tab-5.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
  
  </section><!-- /Tabs Section -->